//Variables
$lightGrey: #eeeeee;
$mediumGrey: #d1d1d1;
$darkGrey: #b0b0b0;

$childListPadding: 4rem;

html {
    margin-bottom: 10rem;
}

a:hover {
    text-decoration: none;
}

.label {

}

.label--postOrder {
    margin-right: 1rem;
}

.postForm {
    margin-bottom: 0;
}

.postList {
    margin: 0;
    padding: 0;
}

.postList__item {
    list-style-type: none;
}

.post {
    border-radius: 3px;
    padding: 1rem;
    margin-top: 2rem;
}

.post--default {
    border: 1px solid $mediumGrey;
}

.post--comment {
    border: 1px solid $darkGrey;
}

.post__title {
    font-size: 2rem;
    margin-top: 0;
}

.post__author {
    font-size: 1rem;
    float: right;
}

.btnWrapper--right {
    text-align: right;
}

.button {
    cursor: pointer;
}

.button--comments {

}

.button--post {
    display: inline-block;
    float: right;
}

.button--search {
    padding-right: 0 !important;
}

.button--reset {

}

.postList__childList {
    padding-left: $childListPadding;
    display: none;
}

.postList__childList__item {
    list-style-type: none;
}

.postList__formWrapper {
    margin-top: 1em;
    padding-left: $childListPadding;
    display: none;
}

#hiddenGoogleLoginForm {
    display: none;
}