//Variables
$lightGrey: #eeeeee;
$mediumGrey: #d1d1d1;
$darkGrey: #b0b0b0;

$cornerRounding: 5px;

$childListPadding: 4rem;

//imports
@import "normalize";
@import "user";

html {
    margin-bottom: 10rem;
}

.fillWidth {
    width:100%;
}

a:hover {
    text-decoration: none;
}

.label {

}

.label--postOrder {
    float: left;
    margin: .75rem 1rem 0 0;
}

.postForm {
    margin-bottom: 0;
}

.postList {
    margin: 0;
    padding: 0;
}

.postList__item {
    list-style-type: none;
}

.post {
    border-radius: $cornerRounding;
    padding: 1rem;
    margin-top: 2rem;
}

.post--default {
    background-color: $lightGrey;
    border: 1px solid $mediumGrey;
}

.post--comment {
    background-color: $mediumGrey;
    border: 1px solid $darkGrey;
}

.post__title {
    font-size: 2rem;
    margin-top: 0;
}

.post__author {
    color: grey;
    font-size: 1rem;
    float: right;
}

.postsDataTable {
    width: 100%;
    margin-bottom: 2rem;
}

.btnWrapper--right {
    text-align: right;
}

.button {
    cursor: pointer;
}

.button--comments {

}

.button--post {
    display: inline-block;
    float: right;
}

.button--search {
    padding-right: 0 !important;
}

.button--reset {

}

.button__arrow {
    color: $darkGrey;
}

.button__badge {
    background-color: $mediumGrey;
}

.postList__childList {
    padding-left: $childListPadding;
    display: none;
}

.postList__childList__item {
    list-style-type: none;
}

.postList__formWrapper {
    margin-top: 1em;
    padding-left: $childListPadding;
    display: none;
}

.selectMenu {

}

.selectMenu--postSortOrder {
    min-width: 10rem;
    max-width: 20rem;
}

#hiddenGoogleLoginForm {
    display: none;
}

#map {
    height: 500px;
    width: 500px;
}