//Variables
$lightGrey: #eeeeee;
$mediumGrey: #d1d1d1;

.leftSection {
    height: 50rem;
}

//.rightSection {
//    height: 50rem;
//}

.leftSection__postList {
    margin: 0;
    padding: 0;
}

.leftSection__postList__item {
    list-style-type: none;
}

.parentPost {
    border-radius: 3px;
    padding: 1rem;
    margin-top: 2rem;
}

.parentPost--default {
    background-color: $lightGrey;
    border: 1px solid $mediumGrey;
}

.parentPost__title {
    font-size: 2rem;
    margin-top: 0;
}

.parentPost__commentsBtn {
    z-index: 100;
}

.leftSection__postList__childList {
    margin-left: 1rem;
    display: none;
}

.parentPost__formWrapper {
    display: none;
}

#hiddenGoogleLoginForm {
    display: none;
}