.userInfo {
    border: 1px solid $mediumGrey;
    border-radius: $cornerRounding;
    padding: 15px;
}

.userInfo__title {
    text-align: center;
    font-style: italic;
    font-size: 2rem;
}

.userInfo__picture {
    margin: 15px;
}

.userInfo__text {
    width: 100%;

    background-color: $lightGrey;

    tr td {
        padding: 10px;
    }
}

.pokemonInfoList {
    list-style: none;
}

.pokemonInfobox {
    background-color: $lightGrey;
    margin-bottom: 1rem;
    padding: 15px;

    border: 1px solid $mediumGrey;
    border-radius: $cornerRounding;
}

.pokemonInfoBox__image {
    border-radius: 100px;
    background-color: $mediumGrey;
}

.pokemonInfoBox__name {
    font-size: 3rem;
    font-style: italic;
}

.pokemonInfoBox__stats {
    font-size: 1.5rem;

}

.pokemonInfoBox__stats__number {
    font-size: 1.5rem;
    font-weight: bold;
}

