body {
    background-image: url("#{resource['img/yellow.png']}");
    background-size: cover;
    background-repeat: no-repeat;
}

.fullColor {
    background-color: #EEEF2F;
    color: #000;
}

.transparent {
    background-color: rgba(238,239,47,.8);
    color: #000;
}

.btn-primary{
    background-color: #EEEF2F;
    color: #000;
    border-color: #000;
}

.textOnly{
    color: #000;
}

.button__badge {
    background-color: #000;
    color: #EEEF2F;
}

.navbar-default{
    background: transparent;
    border-color: transparent;
}

.navbar-default .navbar-brand {
    background-color: #EEEF2F;
    border: 1px solid #000;
    color: #000;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    background-color: rgba(238,239,47,.6);
    border: 1px solid #000;
    color: #000;
}
.navbar-default .navbar-text {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
    border: 1px solid #000;
    background-color: #EEEF2F;
    color: #000;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: rgba(238,239,47,.6);
    border: 1px solid #000;
    color: #000;
}