.leftSection {
    height: 50rem;
}

.rightSection {
    background-image: url("#{resource['img:pokemonMap.png']}");
    height: 50rem;
}

.post {
    border: 1px solid #000;
    border-radius: 0.5rem;
    padding: 0.5rem;

    background-color: chocolate;

    margin-top: 1rem;
    margin-right: 1rem;
}

.reply {
    background-color: #d2926c;
    margin-top: 0.5rem;
}

#hiddenGoogleLoginForm {
    display: none;
}