.header {
    background-color: red;
    padding: 2em;
}

.header .title {
    font-size: 3em;
}

.menuItem {
    margin-right: 2em;
}

.leftArea {
    background-color: cyan;
    float: left;
    width: 50%;
}

.rightArea {
    background-color: lemonchiffon;
}

.footer {
    background-color: darkolivegreen;
    clear: both;
}